@import '~styles/settings/variables';

.size-check-box {
  $root: &;

  position: relative;
  cursor: pointer;
  display: inline-block;

  &__label {
    padding: 5px 14px;
    background: $c-wildsand;
    border-radius: 15px;
  }

  //--------------
  // modifier
  //--------------
  &--active {
    #{$root}__label {
      border: 1px solid $c-black;
    }
  }
}
