@import '~styles/settings/variables';

.section-credit-payment {
  $root: &;

  position: relative;
  padding: 10px;
  display: flex;
  align-items: center;

  &__available-credit {
    flex-basis: 55%;
  }

  &__spend-btn {
    flex-basis: 45%;
  }
}
