@import '~styles/settings/variables';

.button-hamburger {
  $root: &;

  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: 25px;
  user-select: none;

  &__lines {
    position: relative;
    height: 16px;
    width: 25px;
    overflow: hidden;
  }

  &__line {
    position: absolute;
    width: 100%;
    left: 0;
    background: $c-black;
    border-radius: 5px;
    height: 2px;
    transition: transform $t-normal, background $t-normal, width $t-normal;

    &:nth-child(2) {
      top: 6px;
    }

    &:nth-child(3) {
      top: 12px;
    }
  }

  &__text {
    margin-top: 2px;
    font-size: 10px;
    transition: color $t-normal;
  }

  //------------------------------
  // => Modifiers
  //------------------------------
  &--women {
    #{$root}__line {
      background: $c-au-chico;
    }
  }

  &:focus-visible {
    #{$root}__line {
      background: $c-tuna;
    }

    #{$root}__text {
      color: $c-tuna;
    }
  }

  &--opened {
    #{$root}__line {
      &:nth-child(1) {
        transform: rotate(45deg) translate(6px, 2px);
        width: 15px;
      }

      &:nth-child(2) {
        transform: translateX(-100%);
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -2px);
        width: 15px;
      }
    }
  }
}
