@import '~styles/settings/variables';

.section-category {
  $root: &;

  position: relative;

  &--center {
    justify-content: center;
    align-items: center;
  }

  &--wildsand {
    background: $c-wildsand;
  }
}
