@import '~styles/settings/variables';

.password-meter {
  $root: &;

  position: relative;
  height: 100%;
  height: 5px;
  background: #d7d7d7;
  border-radius: 5px;

  &::after {
    position: absolute;
    height: 100%;
    border-radius: 5px;
    width: 0%;
    left: 0;
    top: 0;
    content: '';
    background: transparent;
    transition: $t-normal;
  }

  &--1 {
    &::after {
      background: $c-danger;
      width: 20%;
    }
  }

  &--2 {
    &::after {
      background: $c-danger;
      width: 40%;
    }
  }

  &--3 {
    &::after {
      background: $c-warn;
      width: 60%;
    }
  }

  &--4 {
    &::after {
      background: $c-warn;
      width: 80%;
    }
  }

  &--5 {
    &::after {
      background: $c-success;
      width: 100%;
    }
  }
}
