@import '~styles/settings/variables';

.category-check-box {
  $root: &;

  position: relative;
  margin: auto;
  height: 135px;
  background-color: $c-wildsand;
  border-radius: 10px;
  text-align: center;

  &__card {
    width: 100%;
    height: 100%;
  }

  &__image {
    text-align: center;
    object-fit: cover;
    height: 60px;
  }

  &__icon {
    position: absolute;
    top: 11px;
    right: 11px;
    width: 21px;
    height: 21px;
    padding: 5px;
    border-radius: 50%;
    background-color: $c-black;
    display: none;
  }

  &__icon-detail {
    stroke: $c-white;
    stroke-width: 30;
    fill: transparent;
    // fill: $c-red;
    // color: $c-red
  }

  &__title {
    position: absolute;
    bottom: 18px;
    width: 100%;
    text-align: center;
  }
  //--------------
  // modifier
  //--------------
  &--active {
    border: 1px solid $c-silver-chalice;
    background-color: $c-white;

    #{$root}__icon {
      display: block;
    }
  }
}
