@import '~styles/settings/variables';

.questions-thanks {
  $root: &;

  width: 100%;
  max-width: 280px;
  text-align: center;

  &__content {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
    color: $c-white;
    background: rgba($c-q-black, 0.1);
    text-align: center;
    padding-bottom: 45px;
    width: 100%;
  }

  &__text {
    max-width: 150px;
    margin: auto;
  }

  &__button {
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: auto;
    width: 170px;
  }
}
