@import '~styles/settings/variables';

.loading {
  $root: &;

  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: $z-mid;
  overflow: hidden;
  top: 0;

  &--secondary {
    background: rgba($c-white, 0.75);
  }

  &--no-bg {
    background: none;
  }
}
