@import '~styles/settings/variables';

.section-popular-brands {
  $root: &;

  position: relative;
  padding: 15px 30px;

  &__image {
    object-fit: contain;
    width: 85px;
    height: 85px;
  }

  &__addbtn {
    margin: 10px auto;
    justify-content: center;
    display: flex;
    border-bottom: 1px solid $c-black;
    width: 35px;
    height: 20px;
  }

  &__plusicon {
    margin: 10px 4px 0 0;
    background-color: transparent;
    fill: $c-black;
  }
}
