@import '~styles/settings/variables';

.section-prices-card {
  $root: &;

  position: relative;
  background-color: $c-wildsand;
  padding: 10px 20px;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }
}
