@import '~styles/settings/variables';

.section-lang-gender-question {
  $root: &;

  position: relative;
  min-height: 100vh;

  &__lang {
    min-height: 50vh;
    background-color: #7bbed9;
    padding: 60px 30px 30px 30px;
  }

  &__lang-area {
    height: 130px;
  }

  &__lang-range-input {
    width: 110px !important;
    margin-left: -40px;
  }

  &__lang-text-area {
    padding: 0 15px;
  }

  &__lang-text {
    margin-bottom: 9px;
  }

  &__gender {
    min-height: 50vh;
    background-color: #a7d8eb;
    padding: 30px;
  }
}
